<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/px-sample-cards/blank-card.html">
<link rel="import" href="../../bower_components/px-vis-timeseries/px-vis-timeseries.html">
<link rel="import" href="../../bower_components/px-datetime-picker/px-datetime-picker.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="blankpage-view">
  <template>
    <blank-card id="myCard">
      An example of a blank card without any content (except for this brief description).  Replace this with the actual content for your application...ritz
    </blank-card>

    <px-card header-text="Time Series Card">

      <px-datetime-picker></px-datetime-picker>

      <px-vis-timeseries
        width="800"
        height="300"
        prevent-resize="true"
        enable-tooltip="true"
        register-location="none"
        include-all-series
        selection-type= "xy"
        chart-data={{tsChartData}}
      </px-vis-timeseries>
      <iron-ajax url="https://rg-springboot-db-dataproject.run.aws-usw02-pr.ice.predix.io/findallTest" id="tsQueryElement" last-response="{{rawTsData}}" auto><iron-ajax>
    </px-card>
  </template>
  <script>
    Polymer({
      is: 'blankpage-view',
      properties: {
        tsChartData: {
          type: Array
        },
        rawTsData: {
          type: Object,
          observer: '_formatDataForChart'
        }
      },
      ready: function() {
        console.log('blankpage-view ready()')
        // this.$.tsQueryElement.generateRequest();
      },
      _formatDataForChart: function(raw) {
console.log('in formatttt');
console.log('raw data is ::'+raw);
        var series = [];
        //var datapoints = raw.tags[0].results[0].datapoints;
var datapoints = raw;
console.log('dp is::'+datapoints);
        datapoints.forEach(function(point) {
          series.push({x: point[0], y: point[1]});
console.log('series is :::'+series);
        });
        this.tsChartData = series;
      }
    });
  </script>
</dom-module>

